#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slack
Exec=firefox --class=Slack -P Slack -no-remote https://saltstack.slack.com
Icon=slack.png
