# vim: set ft=gitconfig:

[includeIf "gitdir:~/projects/me/**"]
  path = .gitconfig.personal
{{ if eq .chezmoi.os "darwin" -}}
[includeIf "gitdir:~/projects/paddle/**"]
  path = .gitconfig.work
{{ else -}}
[includeIf "gitdir:~/projects/work/**"]
  path = .gitconfig.work
{{ end -}}
[user]
	email = pedro@algarvio.me
  name = Pedro Algarvio
  signingkey = BB36BF6584A298FF
[commit]
  gpgsign = true
[log]
	decorate = full
[alias]
	l = log --oneline --decorate
	ll = log --stat --decorate --abbrev-commit --date=relative
	lll = log -p --stat --decorate --abbrev-commit --date=relative
	llll = "!sh -c 'git lll $@ \
		| gvim - -R -v -c \"set ft=git\" -c \"set fdm=syntax\"' -"
