<style type="text/css" media="screen">
  table#email-sig-wrapper {
    padding: 2px 2px;
    font-family: "Lucida Console", Monaco, monospace;
  }
  table#email-sig {
    /*font-family: 'lucida sans unicode', 'lucida grande', sans-serif;*/
    font-size: 10px;
    vertical-align: top;
  }
  table#email-sig td.avatar { vertical-align: top; }
  table#email-sig img { vertical-align: bottom; }
  div#email-sig-bg {
    border: 1px dotted #aaa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 4px 4px 5px #888;
    -webkit-box-shadow: 4px 4px 5px #888;
    box-shadow: 4px 4px 5px #888;
    background-color: #eee;
    margin: 0 6px 6px 0;
  }
</style>
<table id="email-sig-wrapper" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <div id="email-sig-bg">
        <table id="email-sig" cellspacing="2" cellpadding="2" border="0">
          <tr>
            <td class="avatar"><img class="avatar" src="{{ avatar|b64data }}" alt="{{ name }}"/></td>
            <td>
              <b>{{ name }}</b><br/>
              {% for href, src, title in contacts -%}
              <a href="{{ href }}" title="{{ title }}"><img src="{{ src|b64data }}" alt="{{ title }}"/></a>&nbsp;//&nbsp;
              {%- endfor %}
              {%- if gittip -%}
              Like my work? <a href="{{ gittip.href }}" title="{{ gittip.title }}"><img src="{{ gittip.src|b64data }}" alt="{{ gittip.title }}"/></a>
              {%- endif %}
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
